include LICENSE
include README.md

graft docs

graft {{ cookiecutter.package_name }}/static
graft {{ cookiecutter.package_name }}/templates
graft {{ cookiecutter.package_name }}/*/static
graft {{ cookiecutter.package_name }}/*/templates
